{% extends 'base.html' %}

{% block head_title %}Co když pojišťovna nechce vyplatit plnění?{% endblock %}
{% block title %}Co když pojišťovna nechce vyplatit plnění?{% endblock %}

{% block content %}

<p>
V našich končinách bohužel běžná situace &mdash; třeba i po letech placení pojištění se stane pojistná událost a vy potřebujete od pojišťovny plnění. Jenže pojišťovně se platit nechce. Pokud je vůbec ochotná plnění vyplatit, často zdaleka nedosahuje vašich skutečných nákladů. Jak se v takovém případě zachovat?
</p>

<p>
Obecně platí následující postup:
<ol>
        <li>Přečtěte si pojistné podmínky vašeho pojištění. Pokud je nemáte vytištěné, dají se najít na internetu i pro starší varianty pojištění.</li>
        <li>Hádejte se s pojišťovákem a připomeňte mu detaily vaší situace, skutečné náklady, nebo dokonce pojistné podmínky. Často je bohužel nezná. Pomoci může do pojišťovny zajít osobně, na pobočkách většinou sedí schopnější lidé než na telefonní centrále.</li> 
        <li>Pokud je zástupce pojišťovny neoblomný přestože podle pojistných podmínek máte alespoň částečně nárok na plnění, můžete pojišťovně zaslat písemný nesouhlas s rozhodnutím a požádat o nové prošetření pojistné události.</li>
        <li>Poslední možností je obrátit se na právníka se zkušeností s problematikou pojištění. Pokud i podle právníka máte nárok na pojistné plnění, nebojte se jít k soudu. Čím více lidí se bude bránit proti nespravedlivým rozhodnutím pojišťoven, tím méně se o ně budou pojišťovny pokoušet.</li>
</ol>
</p>

<p>
Typické problémy:
<ul>
        <li>Nízké ocenění vozidla je asi nejčastější problém u havarijního pojištění a povinného ručení. Dochází k němu často v případě <i>totální škody</i>, kdy pojišťovna tvrdí, že cena vozidla je nižší než cena opravy. Na základě toho pak vyplatí jen svůj odhad původní ceny vozu. Tuto cenu ale pojišťovny často odhadují příliš nízkou. Nebojte se proti odhadu protestovat, máte velkou šanci na úspěch!</li>
        <li>Amortizace je dalším častým pokusem pojišťoven krátit plnění. Tvrdí že instalací nových dílů získal vůz na hodnotě. Což nedává smysl, protože bourané auto hodnotu ztratí, novým dílům navzdory. V tomto případě je krácení chybné téměř vždy, což před pár lety <a href="https://www.usoud.cz/aktualne/zohledneni-amortizace-pri-nahrade-skody-na-havarovanem-vozidle/">potvrdil i Ústavní soud</a>.</li>
</ul>

{% endblock %}
