{% extends 'base.html' %}

{% block title %}Nejnovější recenze{% endblock %}

{% block content %}

{% if reviews %}
    {% for review in reviews %}
        <div class="post-preview">
          <a href="post.html">
            <h3 class="post-title">
                    {{ review.product }}
            </h3>
          </a>
          <p class="post-meta">
            Pojišťovna <a>{{ review.product.company }}</a> |
            Kategorie <a>{{ review.product.category }}</a>
          </p>
          <p class="">{{ review.text }} </p>
          <p class="post-meta">Napsal {{ review.author }} dne {{ review.creation_time|date:'d.m.Y' }}</p>
        </div>
        <hr> 
    {% endfor %}
{% else %}
    <h3>No reviews.</h3>
{% endif %}

{% endblock %}
